{% extends 'base.html.twig' %}

{% block title %}Etagere index{% endblock %}

{% block body %}
    <h1>Etagere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Hauteur</th>
                <th>Largeur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etagere in etageres %}
            <tr>
                <td>{{ etagere.id }}</td>
                <td>{{ etagere.hauteur }}</td>
                <td>{{ etagere.largeur }}</td>
                <td>
                    <a href="{{ path('app_etagere_show', {'id': etagere.id}) }}">show</a>
                    <a href="{{ path('app_etagere_edit', {'id': etagere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_etagere_new') }}">Create new</a>
{% endblock %}
