{% extends 'base.html.twig' %}

{% block title %}Créez votre Descente !{% endblock %}
{% block stylesheet %}
<link rel="stylesheet" href="../assets/styles/descente.css">
{% endblock %}
{% block body %}
{% include 'header.html.twig' %}
<section>
        <div class="left-panel">
            <h1>Titre</h1>
            {% for article in articles %}
            <tr draggable="true" data-id="{{ article.id }}" data-width="{{ article.largeur }}" data-height="{{ article.hauteur }}">
                <td><i class="fa fa-arrows"></i></td>
                <td>{{ article.id }}</td>
                <td>{{ article.position }}</td>
                <td>{{ article.libelle }}</td>
                <td>{{ article.hauteur }}</td>
                <td>{{ article.largeur }}</td>
            </tr>
        {% endfor %}
            <select name="famille-select" id="famille">
                <option value="">Famille</option>
            </select>
            <div class="etageres-dropdown">
                <p>Etagères</p>
                <span class="material-symbols-outlined">arrow_drop_down</span>
            </div>
            <div class="form-etagere">
            {{include ('./etagere/new.html.twig')}}
            </div>
        </div>
        <div class="zone-creation">
            <div class="etagere" style="width:{{largeur}}px;height:{{hauteur}}px;"></div>
            <button class="sm-bttn">Valider</button>
        </div>
    </section>
{% endblock %}
